.home {
    display: flex;
    background-color: #FBFBFB;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
}

.image {
    padding-top: 30px;
    width: 8%;
    margin-left: 80px;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    width: 30%;
    height: 3vh;
    margin-right: 80px;
    cursor: pointer;
    background-color: #FBFBFB;
}

.button-nav {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 15px;
    width: auto;
    height: auto;
    margin-right: 3px;
}

.button-nav-blue {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #007EC6;
    font-weight: bold;
    height: auto;
    margin-right: 3px;
}

.p {
    margin-top: 10px;
}

.vector {
    margin-left: 10px;
    width: 4%;
    margin-bottom: 2px;
}

.containerMid {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: flex-end;
    align-self: flex-end;
    align-self: flex-end;
    width: 30%;
    height: 6vh;
    margin-top: 20px;
    margin-right: 80px;
    background-color: #FBFBFB;
}

.login {
    border-color: #007EC6;
    font-size: 14px;
    border-radius: 10px;
    background-color: transparent;
    width: 80px;
    height: 40px;
    color: #007EC6;
    cursor: pointer;
    margin-right: 15px;
    text-decoration: none; /* Remover sublinhado do link */
}

.register {
    border: none;
    font-size: 14px;
    background-color: black;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    color: white;
    margin-right: -5px;
    cursor: pointer;
}

.containerHead {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background-color: #FBFBFB;
}

.title {
    font-size: 60px;
}

.title2 {
    margin-top: -25px;
    font-size: 60px;
}

.highlight {
    color: #007EC6;
}

.subtitle {
    margin-top: -10px;
    color: #B3B3B3;
    font-size: 15px;
}

.head {
    width: 50%;
    height: auto;
    margin-top: 40px;
}

.containerCollaborative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    background-color: #FBFBFB;
}

.sub {
    margin-top: 60px;
}

.containerImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
}

.text {
    margin-left: 32px;
    width: 12%;
    margin-right: 30px;
}

.text-1 {
    margin-left: 18px;
    width: 12%;
    margin-right: 30px;
}

.containerBase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    background-color: #FBFBFB;
    font-family: 'Jost', sans-serif;
}

.lateral {
    margin-top: 4%;
    width: 30%;
}

.right {
    display: flex;
    align-items: flex-end;
    margin-left: 15%;
    margin-top: 4%;
}

.lateral-1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.subtitle-1 {
    color: #B3B3B3;
    font-size: 15px;
    margin-left: 13px;
}

.form {
    display: flex;
    background-color: #F8F8F8;
    border-radius: 50px;
    justify-content: center;
    width: 467px;
    height: 652px;
    margin-bottom: 70px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.input {
    border-radius: 20px;
    border: none;
    height: 30px;
    margin-bottom: 15px;
    box-shadow: rgb(242, 242, 242) 0px 0px 10px 1px;
    padding-left: 10px;
}

.input-d {
    border-radius: 20px;
    border: none;
    height: 130px;
    margin-bottom: 15px;
    box-shadow: rgb(242, 242, 242) 0px 0px 10px 1px;
    padding-left: 10px;
    padding-top: 10px;
}

.label {
    margin-bottom: 2px;
}

.button {
    background-color: black;
    border-radius: 20px;
    width: 45%;
    height: 30px;
    color: white;
    align-self: center;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: black;
    height: 521px;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flateral-1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 30%;
    margin-right: -150px;
}

.flateral-2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 30px;
}

.flateral-3{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 30px;
}

.image-f {
    margin-top: 30px;
    width: 40%;
}

.footer-t {
    margin-top: 40px;
    color: white;
    font-size: 13px;
    margin-bottom: 60px;
    width: 50%;
}

.footer-1t {
    margin-top: 34px;
    color: white;
    font-size: 13px;
    margin-bottom: 135px;
}

.footer-2t {
    margin-top: 32px;
    color: white;
    font-size: 13px;
    margin-bottom: 135px;
}

.footer-f {
    font-size: 18px;
    color: white;
}

.footer-f-b{
    font-size: 18px;
    color: white;
    margin-top: 40px;
}

.image-w {
    width: 20%;
}